html {
    background-color: ;
   
}

body {
    font-family: 'Judson', serif;
    background-color: #3E3E3B;
    margin: 0;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
   }

img {
    height: 100%;
    width: 100%;
}

label {
    margin-right: 20px;
}

header {
    background-color: #EBECED;

}
.containerHeader {
    display: flex;
    justify-content: space-around;
    background-color: #CBC5C1;
    margin-bottom: 60px;
    height: 200px;
    align-items: ;
  

}

#titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container, .bigContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.bigContainer {
    justify-content: space-evenly;
}

.containerDropdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#whereUwannaRide {
    display: block;
    
    align-self: center;
    
    flex-wrap: wrap;
    
}

#dropdown {
    display: block;
    
    align-self: center;
}

.break {
    width: 100%;
    margin: 20px;
}

#btn {
    margin: 20px;
}


.col-md-8 {
    background-color: red;
}

#test {
    background-color: blueviolet;
}

#weatherTextDiv {
    display: flex;
    background-color:#A2AAB0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    
}

#tempP {

}

.displayBoxes {
    background-color: #A2AAB0;
    margin: 20px;
    flex: 1 1 0px
    border-radius: 25px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    
}

#regionPictureDiv {
    display: flex;
    justify-content: center;
}

