html {
    background-color: ;
   
}

body {
    font-family: 'Judson', serif;
    background-color: #3E3E3B;
    margin: 0;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
   }


label {
    margin-right: 20px;
}

header {
    background-color: #EBECED;

}
.containerHeader {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #EBECED;
    margin-bottom: 60px;
    height: 200px;
    align-items: center;
  

}

.container, .bigContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bigContainer {
    justify-content: space-evenly;
}

.containerDropdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#whereUwannaRide {
    display: block;
    
    align-self: center;
    
    flex-wrap: wrap;
    
}

#dropdown {
    display: block;
    
    align-self: center;
}

.break {
    width: 100%;
    margin: 20px;
}

#btn {
    margin: 20px;
}


.col-md-8 {
    background-color: red;
}

#test {
    background-color: blueviolet;
}

#weatherTextDiv {
    display: flex;
    background-color:#A2AAB0;
    flex-direction: column;
    align-items: flex-start;
    
}

#tempP {

}

.displayBoxes {
    background-color: green;
    padding: 20px;
}

